name: Auto Commit

on:
  schedule:
    - cron: "0 */6 * * *" # every 6 hours
  workflow_dispatch:

permissions:
  contents: write

jobs:
  auto-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure Git
        run: |
          git config --global user.name "VathanakSol"
          git config --global user.email "vathanaksol1605@gmail.com"

      - name: Create commit
        run: |
          git commit --allow-empty -m "Auto commit"
          git push
